:host {
    display:block;
}
:host([background]){
    background-image: url('--templateStyle-image');
}
:host([bgcolor]){
    background-color: --templateStyle-color;
}
:host-context(body){
    min-height: 100vh;
    min-width: 100%;
}
:host([inline]){
    display:inline-block;
    min-height: initial;
    min-width: initial;
}